html {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.box-1 {
  background-color: black;
  width: 100px;
}

.box-3 {
  background-color: white;
  border-right: 1px grey solid;
  border-left: 1px grey solid;
}

.box-4 {
  background-color: white;
}

.box-5 {
  background-color: yellow;
  border: 1px grey solid;
  padding: 10px;
  width: 100px;
  position: relative;
  right: 10px;
}

.box {
  font-size: 30px;
  text-align: center;
  flex: 1;
}

.header-container {
  display: flex;
  width: 100%;
  border: 1px solid gray;
}

.box-2 {
  flex: 5;
  background-color: white;
}

.search-2 {
  margin-top: 10px;
}

.tnw-logo {
  width: 90%;
  height: 20px;
}

a.callup {
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 5px;
}

.info {
  display: flex;
  width: 100%;
  border: 1px solid gray;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  position: relative;
  right: 5.8%;
  justify-content: space-between;
}

.fa {
	color: black;
  height: 20px;
  width: 30px;
}

a.INFO {
  text-decoration: none;
  color: white;
  font-size: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

a.update {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 7px;
}

a.update:hover {
  color: black;
}

.rect-box {
  display: flex;
  flex: 1;
}

.main_heading {
  color: rgb(255, 68, 34);
  text-decoration: none;
  font-weight: bolder;
}

.news_container {
  display: flex;
}

.news_image {
  width: 30vw;
  margin-right: 2%;
}

.news_image > img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 5%;
}

.news_headline {
  margin-right: 4%;
}

.news_link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5%;
}

.news_link + div {
  color: rgb(170, 170, 170);
  margin-bottom: 2%;
}

@media only screen and (min-width: 1024px) {
  .news_container {
    display: inline;
    width: 20vw;
    margin-right: 2%;
  }

  .news_image {
    display: inline;
  }

  .container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
  }

  body {
    width: 100vw;
  }
}

main {
  margin-left: 2%;
  margin-bottom: 200px;
}

.space {
  margin: auto;
  height: 250px;
  width: 300px;
}

.latest_link {
  text-decoration: none;
  color: rgb(255, 68, 34);
  font-size: 200%;
  font-weight: 900;
  margin-bottom: 20px;
}

.small_latest_link {
  text-decoration: none;
  color: rgb(255, 68, 34);
  display: block;
  margin-top: 2%;
}

.ringover {
  background-color: #f42;
  font-size: 18px !important;
  padding: 10.67px 16px 10.67px 84px;
  height: 30px;
}

.ringover_img {
  height: 60px;
  width: 60px;
  position: relative;
  right: 70px;
}

.ring_link {
  text-decoration: none;
  color: white;
  position: relative;
  bottom: 35px;
  right: 60px;
  font-weight: 900;
  font-size: large;
  letter-spacing: 1.5px;
}

.series {
  background-color: rgba(255, 68, 34, 0.08);
  width: 100vw;
  position: relative;
  bottom: 25px;
  height: 60px;
  right: 85px;
}

.series > a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 900;
  margin-left: 25%;
  position: relative;
  top: 10px;
}

.series-link {
  text-decoration: none;
  line-height: 1.5;
  font-family: Shentox, sans-serif;
  text-transform: uppercase;
  color: silver;
  font-weight: 100;
  margin-left: 90px;
  position: relative;
  top: 5px;
}

footer {
  display: flex;
  flex-direction: column;
 }
 
 .footer-body {
   background-color: rgb(59, 58, 58);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding-top: 15px;
   width: 100%;
 }
 
 li {
   list-style: none;
   margin: 0 10px;
 }
 
 a.footer {
   text-decoration: none;
   color: white;
   font-size: 11px;
 }
 
 a.sm {
   background-color: rgb(73, 72, 72);
   border-radius: 60px;
   padding: 10px;
   width: 2px;
 }

.btm-nav {
   width: 100%; 
   position: relative;
   right: 180px;
   font-size: 80%;
}

.stackpath {
  width: 20%;
  position: relative;
}

.next {
  width: 10%;
  position: relative;
  top: 10px;
  margin-top: 20px;
  margin-bottom: 2%;
}

.logo {
  width: 5%;
}

.copyright {
  text-align: center;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
}

@media only screen and (min-width: 375px) {

.second-section {
	display: block;
  margin-top: 100px;
  margin-bottom: 50px;
	max-width: 100%;
}

.body-second-section{
  padding: 5px;
	max-width: 100%;
	width: 365px;
}

.second-section-heading{
  width: 250px;
}

.second-section-heading-text {
  color: #f42;
	font-size: 40px ;
	font-weight: 900;
	cursor: pointer;
}
.second-section-heading-text:hover > .fa.fa-chevron-right {
  color: #000;
}

.fa.fa-chevron-right {
	color: #f42;
	align-self: center;
	font-size: 25px;
}

.second-section-img1 {
	background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url("images/imghardfork.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 276px;
	opacity: 7;
}

.second-section-img-text {
	margin-top: 150px;
	color: #fff;
	display: inline-block;
  font-size: 13px;
  font-family: Shentox,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1.5;
	padding: 10px;
}

.second-section-img-words {
	margin-top: -10px;
	padding:10px;
	color: #fff;
	margin-bottom: 6px;
	letter-spacing: 1px;
	font-size: 20px;
	display: inline-block;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
	font-weight: 700;
	line-height: 1.1;
}

.second-section-img-tag {
	color: hsla(0,0%,100%,.6);
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	padding: 10px;
}

.second-section-img-tag:hover {
	color: #fff;
}

a.sm {
  background-color: rgb(73, 72, 72);
  border-radius: 60px;
  padding: 10px;
}

.tel {
  margin-top: 70px;
  margin-bottom: 2%;
}

i + a {
  text-decoration: none;
  color: gray;
}

.tel-subtext {
  text-decoration: none;
  color: gray;
  width: 80%;
}

.tel-subtext-container {
  border-top: solid 1px rgba(255, 68, 34, 0.08);
  margin-top: 5px;
}

.funding-items {
  margin-bottom: 10%;
}
