html{
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
  
}

.box-1 {
  background-color: black;
}

.box-3 {
  background-color: white;
  border-right: 1px grey solid;
  border-left: 1px grey solid;
}

.box-4 {
  background-color: white;
}

.box-5 {
  background-color: yellow;
  border: 1px grey solid;
  padding: 10px;
}

.boxx-5 {
  background-color: #fcda19;
  padding: 4px;
}

a.callup-1 {
  padding-left: 10px;
  text-decoration: none;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
}

.box {
	padding-right: 0;
  font-size: 30px;
  text-align: center;
  flex: 1;
}

.header-container {
  display: flex;
  width: 100%;
  border: 1px solid gray;
}

.box-2 {
  flex: 5;
  background-color: white;
}

.search-2 {
  margin-top: 10px;
}

.num {
  background-color: #000;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
}

.up {
  position: relative;
  top: 5px;
}

a.topnav {
  color: rgb(117, 114, 114);
  text-decoration: none;
}

a.topnav:hover {
  color: white;
}

.deux {
  text-align: right;
  padding-right: 50px;
}

.trois {
  flex: 9;
  padding-left: 30px;
}

.quartz {
  padding-right: 35px;
  padding-top: 7px;
}

.cont {
  color: rgb(97, 96, 96);
  background-color: white;
}


.desktoph-2 {
  display: flex;
}

.dropdown {
  display: none;
  position: absolute;
  top: 30px;
  right: -70px;
  background-color: #000;
}

.num ul li:hover .dropdown {
  display: block;
}

.dropdown ul {
  display: block;
  margin: 10px;
}

.iconify {
  position: relative;
  top: 3px;
}

.events {
  position: relative;
  bottom: 2px;
}

.edge {
  position: relative;
  left: 50px;
}

.dropdown ul li {
  width: 150px;
  padding: 3px;

}

a.drp {
  text-decoration: none;
  color: rgb(75, 75, 75);
}

a.drp:hover {
  color: white;
  background-color: #333;
  padding: 5px;
}

a.readme {
  text-decoration: none;
  color: rgb(114, 111, 111);
}

.tnw-logo {
  width: 90%;
  height: 20px;
}

a.callup {
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 5px;
}

.info {
  display: flex;
  width: 100%;
  border: 1px solid gray;
  justify-content: space-between;
}

.scope {
  position: relative;
  bottom: 10px;
}

ul {
  list-style: none;
  display: flex;
  position: relative;
  padding: 5px;
}

.fa {
	color: black;
  height: 20px;
  width: 30px;
}

a.INFO {
  text-decoration: none;
  color: white;
  font-size: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

a.update {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 7px;
}

a.update:hover {
  color: black;
}

.rect-box {
  display: flex;
  flex: 1;
}

.main_heading {
  color: rgb(255, 68, 34);
  text-decoration: none;
  font-weight: bolder;
}

/* fullwidth */

.highlight-container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-family: Avalon,sans-serif;
  font-size: 22px;
	font-weight: bold;
  letter-spacing: -.015em;
	color: #fff;
}
.first-highlight {
	transition: background-color .4s ease;
	background: linear-gradient( rgba(0,0,0,0.25), rgba(0,0,0,9.25)), url("images/firsihighlight.jpg");
  background-size: 100% 100%;
  display: block;
	max-width: 100%;
	max-height: 100%;
  will-change: background-color;
  z-index: 2;
}

.first-highlight:hover{
	opacity: 0.8;
	transition: ease-in-out 0.2s;
}

.first-highlight-text-leading {
	display: none;
}

.first-highlight-text{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 80px;
	cursor: pointer;
}

.first-highlight-sub-text {
	color: hsla(0,0%,100%,.6);
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-top: -10px;
	font-size: 16px;
}

.second-highlight {
	transition: background-color .4s ease;
	background: linear-gradient( rgba(0,0,0,0.25), rgba(0,0,0,9.25)), url("images/seconhighlight.webp");
  background-size: 100% 100%;
  display: block;
	max-width: 100%;
	margin-top: 9px;
	max-height: 100%;
  will-change: background-color;
  z-index: 2;
}
.second-highlight:hover{
	opacity: 0.8;
	transition: ease-in-out 0.2s;
}

.third-highlight {
	transition: background-color .4s ease;
	background: linear-gradient( rgba(0,0,0,0.25), rgba(0,0,0,9.25)), url("images/thirdhighlight.webp");
  background-size: 100% 100%;
  display: block;
	max-width: 100%;
	margin-top: 9px;
	max-height: 100%;
  will-change: background-color;
  z-index: 2;
}
.third-highlight:hover{
	opacity: 0.8;
	transition: ease-in-out 0.2s;
}

.other-highlight-text{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 80px;
	cursor: pointer;
}
.other-highlight-sub-text {
	color: hsla(0,0%,100%,.6);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-top: -10px;
	font-size: 16px;
}
.namehigh:hover {
	cursor: pointer;
	color: #fff;
}
.fa-share-alt {
	color: hsla(0,0%,100%,.6);
	margin-right: -7px;
	margin-left: 5px;
}

.fa-clock {
	color: hsla(0,0%,100%,.6);
	margin-right: -7px;
	margin-left: 5px;
}
/* break */



.news_container {
  display: flex;
}

.news_image {
  width: 30vw;
  margin-right: 2%;
}

.news_image > img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 5%;
}

.news_headline {
  margin-right: 4%;
}

.news_link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5%;
}

.news_link + div {
  color: rgb(170, 170, 170);
  margin-bottom: 2%;
}

.desktop-header {
  display: none;
}

main {
  margin-bottom: 200px;
  width: 100vw;
}

.space {
  margin: 0;
  height: 250px;
  width: 100%;
}

.latest_link {
  text-decoration: none;
  color: rgb(255, 68, 34);
  font-size: 200%;
  font-weight: 900;
  margin-bottom: 20px;
}

.small_latest_link {
  text-decoration: none;
  color: rgb(255, 68, 34);
  display: block;
  margin-top: 2%;
}

.ringover {
  background-color: #f42;
  font-size: 18px !important;
  padding: 10.67px 16px 10.67px 84px;
  height: 30px;
  font-family:  Helvetica, Arial, sans-serif;
}

.ringover_img {
  height: 60px;
  width: 60px;
  position: relative;
  right: 70px;
}

.ring_link {
  text-decoration: none;
  color: white;
  position: relative;
  bottom: 50px;
  right: 60px;
  font-weight: 900;
  font-size: large;
  letter-spacing: 1.5px;

}

.series {
  background-color: rgba(255, 68, 34, 0.08);
  width: 100vw;
  position: relative;
  bottom: 50px;
  height: 60px;
  right: 85px;
  }

.series > a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 900;
  margin-left: 25%;
  position: relative;
  top: 10px;
}

.series-link {
  text-decoration: none;
  font-family: Shentox, sans-serif;
  color: silver;
  margin-left: 90px;
  position: relative;
  top: 5px;
  font-size: small;
}

footer {
  display: flex;
  flex-direction: column;
 }
 
 .footer-body {
   background-color: rgb(59, 58, 58);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding-top: 15px;
   width: 100%;
 }
 
 li {
   list-style: none;
   margin: 0 10px;
 }
 
 a.footer {
   text-decoration: none;
   color: white;
   font-size: 11px;
 }
 
 a.sm {
   background-color: rgb(73, 72, 72);
   border-radius: 60px;
   padding: 10px;
   width: 2px;
 }

.logo {
  width: 5%;
}

.copyright, .copyright-2 {
  text-align: center;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
}

.next {
  position: relative;
  width: 20%;
  left: 200px;
  top: 30px;
}

.desktop-footer {
  display: none;
}

.copyright-2 {
  display: flex;
}

.img {
  width: 1%;
  position: relative;
  bottom: 15px;
  left: 85px;
}

.stack {
  position: relative;
  top: 21px;
  padding-left: 13px;
}

.stackpath {
  width: 13%;
  height: 10px;
  position: relative;
  top: 1px;
  padding-left: 3px;
}

.made {
  position: relative;
  left: 220px;
  top: 5px;
}

.year {
  position: relative;
  left: 215px;
  top: 5px;
}

a.sm {
  background-color: rgb(73, 72, 72);
  border-radius: 60px;
  padding: 10px;
}

.tel {
  margin-top: 70px;
  margin-bottom: 2%;
}

.lighter-red {
  background-color:#fffaf8 ;
  position: relative;
  bottom: 20px;
  font-size: 0.8em;
}

i + a {
  text-decoration: none;
  color: gray;
}

.tel-subtext {
  text-decoration: none;
  color: gray;
  width: 80%;
}

.tel-subtext-container {
  border-top: solid 1px rgba(255, 68, 34, 0.08);
  margin-top: 5px;
}

.funding-items {
  margin-bottom: 2%;
}

.stackpath-1 {
  width: 20%;
  position: relative;
  top: 1px;
}

.next-1 {
  width: 10%;
  position: relative;
  top: 3px;
}

.wrapp {
  width: 5%;
  position: relative;
  top: 10px;
  padding-bottom: 3px;
}

.access {
  width: auto;
  height: 6%;
  padding: 10px;
  position: fixed;
  bottom: 11px;
  right: 23px;
  background-color: rgb(74, 74, 252);
}

.accessibility {
  float: right;
}

/* CSS Media Query  */
@media (min-width: 768px) and (max-width: 1023px) {
  .desktop-header {
    display: block;
  }

  .mobile-header {
    display: none;
  }

  .next-1 {
    width: 5%;
    position: relative;
    top: 5px;
  }
  
  .stackpath-1 {
    width: 10%;
    position: relative;
    padding-bottom: 1px;
  }
  
/* fullwidth */
.highlight-container {
  margin-top: 5px;
	display: flex;
	flex-direction: row;
}

.first-highlight {
	display: flex;
	background: linear-gradient( rgba(255,0,0,0.25), rgba(0,0,0,30)), url("images/firsihighlight.jpg");
	flex-wrap: wrap;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	flex-direction: column;
}
.first-highlight-text-leading {
	display: flex;
	flex-wrap: wrap;
	flex: 2;
}

.first-highlight-text-img {
	width: 40%;
	flex: 2;
	padding: 10px;
}

.first-highlight-text-img img {
	max-width: 90%;
}

.logo-time {
	padding: 10px;
}
.first-highlight-text {
	flex: 1;
	font-size: 50px;
	margin-top: 0;
}
.grid-highlight {
	padding: 10px;
	max-width: 100%;
	max-height: 100%;
}

.drop {
	display: inline-block;
}

.second-highlight {
	max-height: 100%;
	margin-top: 0;
	padding-top: 0;
}

.other-highlight-sub-text {
	max-width: 100%;
	font-stretch:expanded;
}


.third-highlight {
	max-height: 100%;
	bottom: 0;
}
/* yinka stops */
.lighter-red {
  background-color:#fffaf8 ;
  position: relative;
  bottom: 20px;
  font-size: 0.7em;
}

.none {
  display: none;
}

.latest-add-container {
  margin: 50px;
}

  .news_container {
    display: inline;
    width: 20vw;
    margin-right: 2%;
  }

  a.callup {
    font-size: 65%;
  }

  .news_image {
    display: inline;
  }

  .container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
  }

  body {
    width: 100vw;
  }

  .funding-container {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw ;
    row-gap: 10px;
    width: 100vw;

  }

  .funding-items {
    width: auto;
    margin-right: 4%;
  }

 body .series {
    background-color: rgba(255, 68, 34, 0.08);
    width: auto;
    margin-top: 14px;
    position: relative;
    bottom: 50px;
    right: 0;
    margin-right: 0;
    height: 60px;
  }

  .series > a {
    margin-left: 100px;
    top: 5px;
  }
  
  .series-link {
    top: 2px;
    margin-left: 100px;
  }
  
  body .ring_link{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 1.3vw;
    letter-spacing: 1.5px;
    left: 20px;
    bottom: 35px;
    
  }
  

  .ringover{
    background-color: #f42;
    font-size: 18px !important;
    height: 30px;
    padding: 0%;
  }

  .ringover_img {
    height: auto;
    max-width: 100%;
    left: 10px;
    right: 0;
    top: 10px;
  }

  .desktop-footer {
    display: none;
  }

  .mob-footer {
    display: block;
  }
}
 /* End of media query */


 /* CSS media for Desktop query for 1024px */
 @media only screen and (min-width: 1024px) {
.mobile-header {
  display: none;
}


.desktop-header {
  display: block;
}

.mob-footer {
  display: none;
}

.desktop-footer {
  display: block;
}

.edge {
  position: relative;
  left: 43%;
}


/* yinkas start */
.first-highlight {
	background: linear-gradient( rgba(0,0,0,0.25), rgba(0,0,0,9.25)), url("images/firsihighlight.jpg");
  background-size: cover;
  background-repeat: no-repeat;
	max-width: 100%;
	background-position: center;
	width: 800px;
}

.nullvaluetab {
	flex: 5;
}

.fa.fa-share-alt {
	display: none;
}

.first-highlight-text-leading{
	display: none;
}

.first-highlight-text{
	display: block;
	font-size: 40px;
	margin-left: 5px;
	letter-spacing: 1px;
}

 .highlight-container {
	max-width: 100%;
}

.drop {
  display: inline;
}
body {
  width: 100vw;
}

.latest-side {
  display: inline;
  margin-left: 20%;
}
body .small_latest_link {
  text-decoration: none;
  color: rgb(255, 68, 34);
  display: inline;
  border-right: 2px solid rgb(255, 68, 34);
  }

  .latest-add-container {
    margin: 50px;
  }

.funding-container {
  display: grid;
  grid-template-columns: 24vw 24vw 24vw 24vw;
  row-gap: 10px;
  width: 100vw;

}

.lighter-red {
  background-color:#fffaf8 ;
  position: relative;
  bottom: 20px;
  font-size: 0.7em;
}

.funding-items {
  width: auto;
  margin-right: 4%;
}

body .series {
  background-color: rgba(255, 68, 34, 0.08);
  width: auto;
  margin-top: 14px;
  position: relative;
  bottom: 50px;
  right: 0;
  margin-right: 0;
  height: 60px;
}

.series > a {
  margin-left: 100px;
  top: 5px;
}

.series-link {
  top: 2px;
  margin-left: 100px;
}

body .ring_link{
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: large;
  letter-spacing: 1.5px;
  bottom: 35px;
}
.latest_link a:hover {
  text-decoration: none;
  color: rgb(12, 12, 11);
  font-size: 200%;
  font-weight: 900;
  margin-bottom: 20px;
}


.latest-header {
  display: flex;
}

.ringover{
  background-color: #f42;
  font-size: 18px !important;
  height: 30px;
  padding: 0%;
}

.access {
  border-radius: 60px;
  height: 8%;
}

.ringover_img {
  height: auto;
  max-width: 100%;
  left: 10px;
  right: 0;
  top: 10px;
}

.ring_link {
  left: 20px;
}
}
	/* yinkas end */

   
 /*CSS media query for 1024px */